In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("StreamingHistory_Nathan.csv")

In [4]:
data.head()

            endTime      artistName             trackName  msPlayed
0  2021-11-20 21:51         Pitbull  Timber (feat. Ke$ha)    204160
1  2021-11-20 21:55    Jason Derulo           Whatcha Say    221253
2  2021-11-20 21:59    Coleman Hell                Sitcom      2722
3  2021-11-20 21:59     Demi Lovato          Heart Attack    210840
4  2021-11-20 21:59  Capital Cities        Safe And Sound       137

In [5]:
data.groupby(by = "artistName")['artistName'].count().sort_values(ascending = False).head(10)

artistName
Owl City                 39
Taylor Swift              5
Rixton                    3
Clemson RUF Worship       3
Demi Lovato               2
Lauren Daigle             2
Capital Cities            2
Francesca Battistelli     2
Axwell /\ Ingrosso        2
5 Seconds of Summer       2
Name: artistName, dtype: int64

In [7]:
data.groupby(by = "trackName")['trackName'].count().sort_values(ascending = False).head(10)

trackName
Dreams Don't Turn To Dust    4
Honey And The Bee            4
Hospital Flowers             3
Kamikaze                     3
Alligator Sky                3
Deer In The Headlights       3
Angels                       3
Me And My Broken Heart       3
Galaxies                     3
The Real World               3
Name: trackName, dtype: int64

In [8]:
len(data.groupby(by = "trackName")['trackName'].unique())

68

In [9]:
len(data.groupby(by = "artistName")['artistName'].unique())

46

In [10]:
most_played = pd.DataFrame(data.groupby(by = "trackName").max()).reset_index()

In [11]:
most_played[most_played['msPlayed'] < 30000].head(30)

,trackName,endTime,artistName,msPlayed
8,Best Day Of My Life,2021-12-04 18:24,American Authors,4060
10,Brave,2022-09-12 18:15,Sara Bareilles,23666
11,Breath Of Heaven (Mary's Song),2021-12-04 20:13,Amy Grant,17265
21,Eve's Lament (Genesis),2022-03-31 04:56,Caroline Cobb,444
24,First Song of Isaiah,2022-03-31 04:56,Advent Birmingham,9565
25,From the Rising of the Sun (Psalm 113),2022-03-31 04:56,Sandra McCracken,2513
50,Psalm 32: Blest Is the Man,2022-03-31 04:56,Gregory Wilbur,415
53,Sitcom,2021-11-20 21:59,Coleman Hell,2722
66,Your Holy Hill (Psalm 15),2022-03-31 04:55,"My Soul Among Lions, Feat. Corrie Van Dyke",7809
67,buck,2022-09-12 16:29,"nothing,nowhere.",14110